<form class="{{cssClass}}">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <h1><input name="name" type="text" value="{{item.name}}"/></h1>
  </header>
  <div class="sheet-body">
    <div class="form-group">
      <label>Penalty Value</label>
      <input type="number" name="system.penalty" value="{{item.system.penalty}}"/>
    </div>
    <div class="form-group">
      <label>Apply Status Effect</label>
      <select name="system.statusEffect">
        {{#select item.system.statusEffect}}
        <option value="">None</option>
        {{#each statusEffects as |effect|}}
        <option value="{{effect.id}}">{{effect.label}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <hr>
    <h3>Applies Penalty To:</h3>
    <div class="form-group">
      <label>Weapon Attacks</label>
      <input type="checkbox" name="system.appliesTo.weaponAttacks" {{checked item.system.appliesTo.weaponAttacks}}/>
    </div>
    <div class="form-group">
      <label>Defenses (Parry/Dodge)</label>
      <input type="checkbox" name="system.appliesTo.defenses" {{checked item.system.appliesTo.defenses}}/>
    </div>
    <div class="form-group">
      <label>Saving Throws</label>
      <input type="checkbox" name="system.appliesTo.savingThrows" {{checked item.system.appliesTo.savingThrows}}/>
    </div>
  </div>
</form>